{% capture location %}{{ page.url | remove_first:'/' | split:'/' | first }}{% endcapture %}<!doctype html>
<html>
	<head>
      <!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-T49P4T"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-T49P4T');</script>
<!-- End Google Tag Manager -->

		<meta name="description" content="Ish Dhand is CEO and co-founder of QC Design, a quantum computing startup that offers software for designing scalable quantum computers." />
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="chrome=1" />
		<title>{% if page.title %}{{ page.title }}{% else %}Ish Dhand{% endif %}</title>

		<link rel="canonical" href="{{ site.url }}{{ page.url }}" />
		<link rel="stylesheet" href="/css/main.css" />
        <link rel="shortcut icon" type="image/png" href="{{"/img/favicon.png" | prepend: site.baseurl }}" >
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<!--[if lt IE 9]>
		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body>
		<div class="wrapper{% if location == '' %} home{% endif %}">
			<header>
			</header>
			<section>
				{{ content }}
			</section>
            <footer>
                <img class="avatar" src="/img/IshDhand.jpg" alt="Ish Dhand" title="Ish Dhand" />
                <p> Ish Dhand | CEO and Co-founder @ <a href="https://www.qc.design/">QC Design</a></p>
            </footer>
		</div>

	</body>
</html>
